---
const logo = "{CDL}";
const link = "https://cdl.net.ar/";
---

<footer class="mt-[-10px] w-full font-semibold flex items-center justify-center gap-1 p-1 footer text-sm bg-gray-500 text-white">
    <a href={link} target="_blank" rel="noopener noreferrer">Página creada por <span class="inline-block logo text-lg font-normal">{logo}</span></a>
</footer>

<style>
    .logo {
        font-family: "Iceberg";
    }

</style>