---
import ButtonTurno from "../ButtonTurno.astro";
import Title from "../Title.astro";
---

<section
  id="inicio"
  class="hero h-60 w-full flex items-center justify-evenly flex-col py-6 mt-[70px] scroll-m-[70px]"
>
  <h1 class="text-4xl font-bold text-center text-white">
    CENTRO INTEGRAL <br class="block md:hidden" /> DE BELLEZA
  </h1>
  <h4 class="text-md font-medium text-white text-pretty text-center">
    TECNOLOGÍA Y PROCEDIMIENTOS <br class="block md:hidden" />
    NO INVASIVOS DE VANGUARDIA
    <br class="block md:hidden" />PARA EL CUIDADO CORPORAL Y FACIAL
  </h4>
</section>

<figure class="max-w-[800px] aspect-video pt-2 mx-auto">
  <img src="./assets/images/inicio.png" alt="" />
</figure>

<section class="text-center text-pretty flex flex-col gap-2 py-4 items-center">
  <Title class="text-pink-400"> RESERVA TU TURNO </Title>
  <p>Podes consultar disponibilidad y presupuestos enviándonos un mensaje.</p>
  <p class="mb-3">
    <strong>Horario de atención:</strong><br />
    Lunes a Viernes de 09:00hs a 16:00hs
  </p>
  <ButtonTurno />
</section>

<style>
  .hero {
    background: rgb(247, 104, 161);
    background: linear-gradient(
      90deg,
      rgba(247, 104, 161, 1) 0%,
      rgba(247, 104, 161, 1) 20%,
      rgba(221, 52, 151, 1) 20%,
      rgba(221, 52, 151, 1) 40%,
      rgba(174, 1, 126, 1) 40%,
      rgba(174, 1, 126, 1) 60%,
      rgba(221, 52, 151, 1) 60%,
      rgba(221, 52, 151, 1) 80%,
      rgba(247, 104, 161, 1) 80%,
      rgba(247, 104, 161, 1) 100%
    );
  }
</style>

<!-- Tiempo en terminar 1hs -->