---
import CardPromocion from "../CardPromocion.astro";
import Title from "../Title.astro";

const PROMOCIONES = [
  {
    title: "FACIALES",
    description:
      "Descripción de la promoción. Agregar detalles necesarios, pero sin colocar precios.",
    image: "./assets/images/cara.png",
  },
  {
    title: "BELLEZA",
    description:
      "Descripción de la promoción. Agregar detalles necesarios, pero sin colocar precios.",
    image: "./assets/images/ojos.png",
  },
];
---

<section
  id="promociones"
  class="flex flex-wrap items-center justify-center gap-5 mb-5 scroll-m-[90px]"
>
  <Title class="text-[#f768a1]">PROMOCIONES</Title>
  <div class="flex flex-wrap items-center justify-center gap-5">
    <!-- Si es necesario agregar una nueva, se hace agregandola en el objeto PROMOCIONES arriba -->
    {
      PROMOCIONES.map((promo) => (
        <CardPromocion image={promo.image} promo={promo.title}>
          <p>{promo.description}</p>
        </CardPromocion>
      ))
    }
  </div>

  <Title class="text-[#f768a1]">¡Consultá sin compromiso!</Title>
</section>

<!-- Tiempo de la vista mobile 1hs -->
