@font-face {
  font-family: "Iceberg";
  src: url("../fonts/Iceberg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cinzel-Regular";
  src: url("../fonts/CinzelDecorative-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cinzel-Bold";
  src: url("../fonts/CinzelDecorative-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cinzel-Black";
  src: url("../fonts/CinzelDecorative-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
