---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Inicio from '../components/Inicio.astro';
---

<Layout title="Cosmetica JLO">
	<main>
		<header>
			<Navbar></Navbar>
			<Inicio></Inicio>
		</header>
	</main>
</Layout>

<style>


	/* .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	} */
</style>
