---
const {image, text} = Astro.props;
---

<article class="flex flex-col gap-3 p-5 items-center">
    <figure>
        <img src=`${image}` class="aspect-square rounded-[50%] border-[5px] border-white bg-white w-40 md:w-52 lg:w-64" alt="Tratamiendo cosmetica">
    </figure>

    <span class="bg-white text-gray-900 font-semibold text-center w-fit rounded-full px-4 py-1 md:text-xl lg:text-xl">
        {text}
    </span>
</article>

<style>

    article {
        cursor:pointer;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
    }

    article:hover {
        transform: scale(1.05);
    }
</style>