---
const link = "https://api.whatsapp.com/send/?phone=3875459077&text=Hola&type=phone_number&app_absent=0";
---

<a href={link} class="text-white font-bold pink w-fit py-2 px-4 rounded-xl">
    RESERVA TU CITA
</a>

<style>

.pink {
 background-color: var(--pink);
 transition: 0.2s all ease-in-out;
}

.pink:hover {
    background-color: var(--pink-2);
}
</style>