---
const { image, title } = Astro.props;
---
<!-- VISTA MOVIL -->
<article
  class="card-producto slide md:hidden snap-center size-80 bg-cover bg-no-repeat rounded-3xl border-[5px] border-slate-50 shadow-md"
  style=`background-image: url(${image});`
>
  <div class="flex flex-col justify-between h-full">
    <div></div>
    <div class="card-text bg-[#f768a1e0] p-4 rounded-b-2xl text-white">
      <h1 class="font-black text-xl rounded">
        <span class="">{title}</span>
      </h1>
      <slot />
    </div>
  </div>
</article>

<!-- VISTA ESCRITORIO -->

<article
  class="card-producto hidden md:block snap-center size-80 md:size-60 lg:size-72 xl:w-[22rem] xl:h-[22rem] bg-cover bg-no-repeat rounded-3xl border-[5px] border-slate-50 shadow-md"
  style=`background-image: url(${image});`
>
  <div class="flex flex-col justify-between h-full">
    <div></div>
    <div class="card-text bg-[#f768a1e0] p-4 rounded-b-2xl text-white">
      <h1 class="font-black text-xl rounded lg:text-2xl">
        <span class="">{title}</span>
      </h1>
      <slot />
    </div>
  </div>
</article>

<style is:global>
  .slider {
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    width: 100%;
    object-fit: cover;
  }

  .card-text {
    transition: 0.2s all ease-in-out;
  }
  .card-producto:hover .card-text{
    cursor: pointer;
    padding: 1rem 1rem 1.5rem 1rem ;
  }
  
</style>
