---
import ButtonWSP from "../components/ButtonWSP.astro";
import Footer from "../components/Sections/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pagina de cosmetica en Salta" />
    <meta
      name="keywords"
      content="cosmetica, salta, landing, page, jlo, cdl, leyton, cristian, diego, peluqueria, depilacion, definitiva, piel, ojos, cara, manos, pies, cuidado, manicura, pedicura"
    />
    <meta name="author" content="Cristian Diego Leyton" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="./assets/css/fonts.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <ButtonWSP />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --negro: #1d1d1d;
    --pink: #f768a1;
    --pink-2: #dd3497;
    --pink-3: #ae017e;
  }

  html {
    font-family: "Onest";
    scroll-behavior: smooth;
  }
</style>
